* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

h2 {
    padding: 20px;
}

button {
    border-radius: 5px;
    border: 2px solid #b91450;
    padding: 5px;
    font-family: 'Rowdies', cursive;
    color: #b91450;
    margin: 0 10px;
}

button:hover {
    color: white;
    background-color: #b91450;
}

input, select {
    border-radius: 5px;
    border: 1px solid #b91450;
    height: 30px;
    padding-left: 10px;
    width: 140px;
}

body {
    background-color: #b91450;
    font-family: 'Rowdies', cursive;
}


.container {
    max-width: 805px;
    margin: 0 auto;
    height: 100px; /* da cancellare */
}
h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}



.input {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    min-height: 100px;
    padding: 40px;
    box-shadow: 1px 1px 8px;
}

input:focus {
    background-color: #b91450;
    color: white;
}

.item-input {
    align-items: center;
}

label {
    padding-bottom: 10px;
    color: #b91450;
}
.dati {
    justify-content: space-around;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.buttons {
    justify-content: center;
    padding-top: 40px;
}

.hidden  {
    opacity: 0;
    transition: 0.3s;
}

.visible {
    opacity: 1;
    transition: 0.3s;
}

.sb {
    justify-content: space-between;
}

.output {
    background-color: white;
    border-radius: 5px;
    min-height: 100px;
    padding: 40px;
}

.dati-biglietto {
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
    justify-content: space-between;
    height: 110px;
}

.item-output{
    padding-left: 20px;
    padding-right: 20px;
}

.nome {
    background-color: #808080;
    height: 100%;

}
